.todo-container {
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  background: #fefae0;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  justify-content: center;
}

input[type="text"] {
  padding: 12px;
  font-size: 16px;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.task-header,
.task-row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.task-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.task-row span {
  text-align: left;
  word-break: break-word;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.status.pending {
  color: #d9534f;
  font-weight: bold;
}

.status.done {
  color: #28a745;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.done-btn {
  background-color: #28a745;
}

.done-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.delete-all-btn {
  background-color: #dc3545;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-all-btn:hover {
  background-color: #c82333;
}

.mic {
  border: 1px solid #000 ;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}